[Unit]
Description=IceWm
Documentation=man:icewm
After=xorg.service autologin.service

[Service]
ExecStart=/usr/bin/icewm
Slice=session.slice
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
