[Unit]
Description=ROX desktop
After=graphical-session.target

[Service]
Type=forking
ExecStart=/usr/bin/rox -p Desktop

[Install]
WantedBy=graphical-session.target
