[Unit]
Description=X resource setting
Documentation=man:xrdb(1)
After=graphical-session.target

[Service]
Type=oneshot
ExecStart=/usr/bin/xrdb -merge %h/.Xresources

[Install]
WantedBy=graphical-session.target
