[Unit]
Description=X resource setting
Documentation=man:xrdb(1)
After=xorg.service autologin.service

[Service]
Type=oneshot
ExecStart=/usr/bin/xrdb -merge %h/.Xresources

[Install]
WantedBy=default.target
