[Unit]
Description=Xorg server
After=plymouth-quit.service basic.target
PartOf=graphical-session.target

[Service]
Environment=XDG_SESSION_TYPE=x11
UnsetEnvironment=TERM
StandardOutput=journal
ExecStart=/usr/lib/xorg/Xorg.wrap -ac -s 0 -nolisten tcp :0 vt8
Restart=always
RestartSec=10

[Install]
WantedBy=graphical.target
Alias=display-manager.service
